<%= form_with(model: screen, html: { class: 'col-md-4' }) do |form| %>
  <% if screen.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(screen.errors.count, "error") %> prohibited this screen from being saved:</h2>

      <ul>
        <% screen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, style: "width: 100%" %>
  </div>

  <div>
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url, style: "width: 100%" %>
  </div>

  <div>
    <%= form.submit "Done", class: "btn btn-outline-primary my-4" %>
  </div>
<% end %>
