<div id="<%= dom_id screen %>">
  <p>
    <strong>Title:</strong>
    <%= screen.title %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= screen.image_url %>
  </p>

  <p>
    <strong>Owned by:</strong>
    <%= screen.user.username %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= "#{time_ago_in_words(screen.created_at)} ago" %>
  </p>

</div>

<div id="<%= dom_id screen %>">
    <%= image_tag(screen.image_url) %>
    <p><%= screen.title %></p>  
    
</div>
