<p style="color: green"><%= notice %></p>

<%= render @screen %>

<div>

  <% if @screen.user == current_user %>
    <%= link_to "Edit this screen", edit_screen_path(@screen) %> |
    <%= link_to "Back to screens", screens_path %>
    <%= button_to "Delete", @screen, method: :delete, class: "btn btn-outline-danger my-4" %>
  <% end %>

</div>
