<nav class="navbar navbar-expand-lg bg-body-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">Cronos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-0 mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <% if user_signed_in? %> 
                        <%= current_user.username %>
                    <% else %>
                        User
                    <% end %>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <% if user_signed_in? %>
                        <li><%= link_to "Account", edit_user_registration_path, class: "btn btn-default btn-sm dropdown-item" %></li>
                        <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm dropdown-item" %></li> 
                                
                    <% else %>
                        <li><%= link_to 'Sign up', new_user_registration_path, class: "dropdown-item"  %></li>
                        <li><%= link_to 'Log in', new_user_session_path, class: "dropdown-item" %></li>
                    <% end %>
                    </ul>
                </li>

                
            </ul>

            
            

            
        </div>
    </div>
</nav>